.cover__text {
  @extend %font-default;

  font-size: 1em;
  line-height: $border-width-sm;
  left: 50%;
  margin: 0;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  transform: translateX(-50%);
  width: 100vw;

  @media #{$mq-md} {
    line-height: $border-width-md;
  }

  @media #{$mq-lg} {
    line-height: $border-width-lg;
  }
}

.cover__text--title {
  top: -$border-width-sm;

  @media #{$mq-md} {
    top: -$border-width-md;
  }

  @media #{$mq-lg} {
    top: -$border-width-lg;
  }
}

.cover__text--subtitle {
  bottom: -$border-width-sm;

  @media #{$mq-md} {
    bottom: -$border-width-md;
  }

  @media #{$mq-lg} {
    bottom: -$border-width-lg;
  }
}
