.cover-image__container {
  background-size: cover;
  background-image: url('/assets/cover.png');
  background-position-x: center;
  background-position-y: bottom;
  background-repeat: no-repeat;
  bottom: calc(#{$border-width-sm} + #{$height-nav});
  left: $border-width-sm;
  position: fixed;
  right: $border-width-sm;
  top: $border-width-sm;
  z-index: $z-bottom;

  @media #{$mq-md} {
    bottom: calc(#{$border-width-md} + #{$height-nav});
    left: $border-width-md;
    right: $border-width-md;
    top: $border-width-md;
  }

  @media #{$mq-lg} {
    bottom: calc(#{$border-width-lg} + #{$height-nav});
    left: $border-width-lg;
    right: $border-width-lg;
    top: $border-width-lg;
  }
}
