.page__container {
  border-color: $color-primary;
  border-style: solid;
  border-width: $border-width-sm;
  height: 100vh;
  width: 100vw;

  @media #{$mq-md} {
    border-width: $border-width-md;
  }

  @media #{$mq-lg} {
    border-width: $border-width-lg;
  }
}

.page__container--alternate {
  border-color: $color-text-inverse;
}

.page__track-title {
  &::before {
    counter-increment: tracklist;
    content: counter(tracklist) ". ";
  }
}
