.page__container {
  border-color: $color-primary;
  border-style: solid;
  border-width: $border-width-sm;
  height: calc(100vh - #{$height-nav});
  position: fixed;
  left: 100vw;
  transition-duration: .5s;
  transition-property: left;
  transition-timing-function: ease-out;
  width: 100vw;

  @media #{$mq-md} {
    border-width: $border-width-md;
    transition-duration: .75s;
  }

  @media #{$mq-lg} {
    border-width: $border-width-lg;
    transition-duration: 1s;
  }
}

.page__container--active {
  left: 0;
}

.page__container--alternate {
  border-color: $color-background;
}
