.bg-color--default {
  background-color: $color-background;
}

.bg-color--display {
  background-color: $color-background-translucent;
}

.color-text-inverse {
  color: $color-text-inverse;
  fill: $color-text-inverse;
}

.color-text-primary {
  color: $color-primary;
  fill: $color-primary;
}
